<div class="body-content">
  <div class="panel panel-primary">
    
      <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="prty">Status:</label>
              <input type="text" class="form-control" id="status">
            </div>
          </div>
        
            <div class="col-md-4" >
              <div class="form-group">
                <label for="prty">Priority:</label>
                <input type="number" class="form-control" id="pwd">
              </div>
            </div>
        
            <div class="col-md-4" >
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email">
              </div>
            </div>
          </div>
        
        
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
                <label for="sub">Subject:</label>
                <input type="text" class="form-control" id="sub">    
            </div>
          </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="desc">Description:</label>
                    <input type="text" class="form-control" id="desc">
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-lg-10">
                <button class="btn btn-primary col-xs-6" style="float: right; margin:2px;">Save</button>
                 <button class="btn btn-info col-xs-6"  style="float: right; margin:2px;" (click)="ShowAllTickets()">Show</button>
              </div>
        </div>
  </div>

  
<div class="panel panel-primary" style="margin-top:15px;">
    <div class="col-lg-12" *ngIf="tickets?.length > 0">
        <table class="table table-striped table-hover  table-bordered">
          <thead>
            <tr>
              <th>Status</th>
              <th>Priority</th>
              <th>Email</th>
              <th>Subject</th>
              <th>Description</th>
              <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of tickets">
              <td>{{ticket.status}}</td>
              <td>{{ticket.priority}}</td>
              <td>{{ticket.email}}</td>
              <td>{{ticket.subject}}</td>
              <td>{{ticket.description}}</td>
              <td>
                <button title="edit" style="margin:2px;" class="btn btn-primary btn-xs"><span class="fa fa-edit"></span></button>
                <button title="delete" style="margin:2px;" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
    
      </div>
</div>
  

  <br />
  <br />
  <br />
</div>